@import url(./__title/comments__title.css);
@import url(./__subtitle/comments__subtitle.css);
@import url(./__container/comments__container.css);

.comments {
  margin-top: 110px;
}

@media screen and (max-width: 820px) {
  .comments {
    margin-top: 105px;
  }
}
@media screen and (max-width: 680px) {
  .comments {
    margin-top: 61px;
  }
}
