.video-content__title {
  margin: 0 0 7px;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.4375rem;
  max-width: 322px;
}

@media screen and (max-width: 956px) {
  .video-content__title {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}
@media screen and (max-width: 820px) {
  .video-content__title {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 320px) {
  .video-content__title {
    margin-bottom: 6px;
  }
}
