@import url(./_active/header__lang_active.css);

.header__lang {
  font-size: 24px;
  text-transform: capitalize;
  transition: opacity 0.2s linear;
  display: block;
  text-decoration: none;
}

.header__lang:hover {
  opacity: .7;
}
