@import url(./__figure/lead__figure.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  margin-top: 17px;
  max-width: 985px;
}

@media screen and (max-width: 1080px) {
  .lead {
    margin-top: 20px;
  }
}

@media screen and (max-width: 820px) {
  .lead {
    width: 100%;
  }
}
