.lead__wrapper {
  margin-top: 17px;
  max-width: 985px;
}

@media screen and (max-width: 1080px) {
  .lead__wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 820px) {
  .lead__wrapper {
    width: 100%;
  }
}
