.comments__title {
  margin: 0 auto 38px;
  max-width: 800px;
  line-height: 4.875rem;
}

@media screen and (max-width: 1080px) {
  .comments__title {
    line-height: 4.125rem;
  }
}

@media screen and (max-width: 956px) {
  .comments__title {
    max-width: 660px;
    line-height: 2.875rem;
  }
}
@media screen and (max-width: 820px) {
  .comments__title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 680px) {
  .comments__title {
    line-height: 2.375rem;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .comments__title {
    margin-bottom: 14px;
  }
}
