.video__wrapper {
  margin-top: 105px;
}

@media screen and (max-width: 1080px) {
  .video__wrapper {
    margin-top: 113px;
  }
}
@media screen and (max-width: 820px) {
  .video__wrapper {
    margin-top: 108px;
  }
}
@media screen and (max-width: 680px) {
  .video__wrapper {
    margin-top: 74px;
  }
}
@media screen and (max-width: 320px) {
  .video__wrapper {
    margin-top: 70px;
  }
}
