.video__title {
  margin: 0 auto 29px;
  max-width: 800px;
  line-height: 4.9375rem;
}

@media screen and (max-width: 956px) {
  .video__title {
    max-width: 554px;
    line-height: 2.875rem;
  }
}
@media screen and (max-width: 680px) {
  .video__title {
    line-height: 2.1875rem;
  }
}
@media screen and (max-width: 320px) {
  .video__title {
    margin-bottom: 21px;
  }
}
