.cover__wrapper {
  margin-top: 98px;
}

@media screen and (max-width: 1080px) {
  .cover__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 860px) {
  .cover__wrapper {
    margin-top: 104px;
  }
}
@media screen and (max-width: 680px) {
  .cover__wrapper {
    margin-top: 47px;
  }
}@media screen and (max-width: 320px) {
  .cover__wrapper {
    margin-top: 62px;
  }
}
