@import url(./_arakul/additional__item_arakul.css);
@import url(./_cherep/additional__item_cherep.css);
@import url(./_nikola/additional__item_nikola.css);
@import url(./_novoros/additional__item_novoros.css);

.additional__item {
  display: flex;
  flex-direction: column;
  min-height: 330px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 18px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.additional__item::before {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
  transition: opacity 0.4s linear;
}

.additional__item:hover::before {
  opacity: 0.8;
}
