.comment-block__author {
  font-weight: 900;
  font-size: 0.875rem;
}

@media screen and (max-width: 956px) {
  .comment-block__author {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 820px) {
  .comment-block__author {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 680px) {
  .comment-block__author {
    margin-bottom: 20px;
  }
}
